@import url("https://fonts.googleapis.com/css2?family=Shizuru&family=Spline+Sans+Mono:wght@300&display=swap");
* {
  margin: 0.2em 0.5em;
  font-family: "Spline Sans Mono", "monospace";
}
body
{
  background-image: url('./image/homeimage_4.jpg');
}
.navbar {
  /*border: 1px solid tomato;*/
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-left: 5em;
  background-image: url("./image/homeimage_4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar:hover {
  transition: all ease-in 0.5s;
}
.navbar img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 5px;
  animation-name: example;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  border-radius: 50%;
}
@keyframes example {
  from {
    top: 0px;
  }
  to {
    top: 15px;
    background-color: transparent;
  }
}
.navbar img:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: all ease-in 0.5s;
}
.unordered {
  display: flex;
  margin: 0.5em 0.3em;
  list-style: none;
  position: relative;
}
.unordered li {
  padding: 0.3em 0.2em;
  background: slategrey;
  position: relative;
  right: -50%;
  border-radius: 5px;
  margin: 0em 2em;
}
.unordered #s0 {
  animation: wiggle 2s linear infinite;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
.unordered li:hover {
  border-radius: 10px;
  background: black;
  transition: all ease-in-out 0.5s;
}
.unordered li a {
  text-decoration: none;
  text-transform: capitalize;
  color: beige;
  font-weight: bold;
}
.unordered li a:hover {
  border: 1px solid thistle;
  transition: all ease-in 0.5s;
  transform: scale(1.3, 1.3);
  border-radius: 10px;
  padding: 0.2em 0.2em;
}
.home {
  position: relative;
  height: 80vh;
  width: 100%;
  margin: 1.5em 0px;
}
.homeDiv {
  height: 100%;
  width: 100%;
  margin: 0em -0.1em;
  background-image: url("./image/homeImage.jpg");
  background-size: cover;
  border-radius: 10px;
}
.leftDiv {
  height: 50%;
  width: 30%;
  margin: 5em 10%;
  background-image: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  float: left;
}
.leftDiv:hover {
  transform: scale(1.4, 1.4);
  transform: rotate(10px, 10px);
  transition: all ease-in 0.5s;
}
.rightDiv {
  height: 50%;
  width: 50%;
  float: right;
  position: relative;
  margin: 10% 0em;
}
.homeHeader {
  text-transform: capitalize;
  font-weight: 200;
  color: wheat;
  padding: 1em 1em;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
