* {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: linear-gradient(
      to left,
      rgba(68, 67, 67, 0.918),
      rgba(70, 70, 70, 0.842)
    ),
    url("../pics.png");
  background-size: cover;
}
#head {
  padding-top: 3%;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  color: rgb(133, 133, 133);
  box-sizing: content-box;
}

#head::after {
  content: "";
  width: 0px;
  height: 10px;
  background: rgba(255, 68, 0, 0.726);
  position: absolute;
  transform: translateX(-100%);
  top: -5px;
  cursor: crosshair;
  transition: 0.5s;
  border-radius: 20px;
}
#head:hover::after {
  width: 75px;
}
.food img {
  margin-top: 15px;
  width: 150px;
  height: 150px;
  margin-left: 25px;
  margin-bottom: 20px;
  background: transparent;
  border: rgba(255, 99, 71, 0.712) 2px solid;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: none;
}

#para p {
  color: rgba(218, 165, 32, 0.658);
  width: 100px;
  height: 22px;
  margin-top: -120px;
  margin-left: 20%;
  background: none;
  border: olive 2px solid;
  border-radius: 20px;
}
#para p::after {
  background: transparent;
  content: "";
  text-transform: capitalize;
  position: relative;
  transition: 0.6s;
}
#para p:hover::after {
  position: absolute;
  transform: translateX(50%);
  border: rgba(169, 169, 169, 0.281) 1px solid;
  border-radius: 20px;
  width: 100px;
  height: 90px;
  content: " this food is well known and delicious";
  text-justify: inter-word;
}

