@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    background: rgb(192, 192, 192);
}
.head
{
    font-family: 'Shizuru',sans-serif;
    margin: 10px 20px;
}
#score
{
    font-family: 'Shizuru',sans-serif;
    margin: 10px 20px;
}
.timer
{
    font-family: 'Shizuru',sans-serif;
    margin: 10px 20px;
}
#time-left
{
    font-family: 'Shizuru',sans-serif;
    margin: 10px 20px;
}
.square
{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0.76);

}
.grid
{  
    margin: 0px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}
.mole
{
    background-image: url("mole.jpg");
    background-size: cover;
}
